@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

.info{
  position: absolute;
  top: 12%;
  left: 12%;
  max-width: 200px;
}

.profile{
  max-width: 200px;
}

.profile-picture{
  max-width: 200px;
  border-radius:10px;
  margin: auto;
  right: 12%;
}

.name{
  text-align: center;
  max-width: 200px;
}

.developer{
  max-width: 30vh;
  text-align: center;
}

.social-medias{
  display: flex;
  flex-direction: column;
  width: 200px;
  left: 180px;
  top: 472px;
}

.social-link-div{
  padding: 2%;
  justify-content: center;
}

.social-link-text{
  display: inline;
  color: #3CD16C;
  font-size:medium;

  max-width: 200px;

  vertical-align: middle;
  text-align: center;

  position: absolute;
  left: 25%;
}